#logonbox-container { 
 background : none; 
 } 
body { 
 background-image : url('../custom_media/ES-PORT-BACKGROUND.jpg'); 
 background-size:cover; 
} 
.ns_body{ 
 background-image : url('../custom_media/ES-PORT-BACKGROUND.jpg'); 
 background-size:cover; 
}.mainPane { 
 background : none; 
 } 
.choices_bkgrnd { 
 background : none; 
 } 


#logonbox-logoimage { 
background-image : url('../custom_media/Eversheds_Sutherland_Cogs.jpg'); 
 }

#logonbox-logoarea.NS-AAA #logonbox-logoimage { 
background-image : url('../custom_media/Eversheds_Sutherland_Cogs.jpg'); 
 }

.CTX_ContentTitleHeader { 
font-size : 16px; 
 }

.ctxsui-messagebox .headermessage { 
font-size : 16px; 
 }

.CTX_ContentTitleHeader { 
 color: #ffffff;
}

.eula_title {
 color : #ffffff;
}

.ctxsui-messagebox .headermessage { 
 color: #ffffff;
}

#dialogueHeader { 
 color: #ffffff;
}

#logonbox-logonform .plain:not(.CTX_ContentTitleHeader) { 
 font-size : 10px;
}

.eula .agreement {
 font-size : 10px;
}

#logonbox-logonform .plain.form_text { 
 font-size : 10px;
}

#logonbox-logonform .plain.CTXMSAM_LogonFont { 
 font-size : 10px;
}

#logonbox-logonform .plain.dialogueChallengeCell { 
 font-size : 10px;
}

.form_text { 
 font-size : 10px;
}

#logonbox-logonform .error { 
 font-size : 10px;
}

#logonbox-logonform .plain:not(.CTX_ContentTitleHeader)  { 
 color: #676767;
}

.eula .agreement{ 
 color: #676767;
}

.form_text  { 
 color: #676767;
}

#logonbox-logonform .plain.form_text  { 
 color: #676767;
}

.CTXMSAM_LogonFont  { 
 color: #676767;
}

.messageStyle  { 
 color: #676767;
}

#logonbox-logonform .error { 
 color: #676767;
}

#logonbox-logonform .plain.CTXMSAM_LogonFont { 
 color: #676767;
}

#logonbox-logonform .plain.dialogueChallengeCell { 
 color: #676767;
}

#logonbelt-bottomshadow { 
background:transparent; 
 }

.header_left { 
background:transparent; 
 }

.header_left.NS-AAA { 
background:transparent; 
 }

.header_left{ 
  background-position: left 20px center ; 
 }

.header {
 background-color :rgb(255, 255, 255); 
}

.setting-dropdown {
 background :rgb(255, 255, 255); 
}

#row1 {
 background :rgb(255, 255, 255); 
}

.header_left {
 border-bottom : none ; 
}

#logonbox-innerbox {
 background :rgb(255, 255, 255); 
}

.eula .agreement {
 background-color :rgb(255, 255, 255); 
}.ctxsui-messagebox .messagebox-middle>div {
 background :rgb(255, 255, 255); 
}.block-container .box {
 border : 1px solid rgb(255, 255, 255); 
}.eula_title { 
 font-size : 20px;
}



.navbar{ 
 background: rgb(255, 255, 255); 
 }

.navBar a {
 color :#ffffff; 
}

 .navBar a:hover,.currentLink a:link,.currentLink a:visited,.currentLink a:hover { 
  background: rgb(255, 255, 255); 
}

.navBar a:hover, .currentLink a:link, .currentLink a:visited, .currentLink a:hover {
 color :#ffffff; 
}

.bookmark-toolbar {
 background-color :rgb(255, 255, 255); 
}

#commonBox {
 background :rgb(255, 255, 255); 
}

body {
 background-color :rgb(255, 255, 255); 
}

.changePasswordNameColumn {
 color :rgb(255, 255, 255); 
}

.bookmark_text {
 color :rgb(255, 255, 255); 
}

.NUI_Icon a {
 color :rgb(255, 255, 255); 
}

.username_text {
 color :rgb(255, 255, 255); 
}

#tip {
 color :rgb(255, 255, 255); 
}

.website_section .NUI_Icon table td.cell3 a.bookmark_icon_anchor {
 color :rgb(255, 255, 255); 
}

.NUI_Icon table a, .none_fs {
 color :rgb(255, 255, 255); 
}

.messageTitle {
 color :rgb(255, 255, 255); 
}

#homepage b {
 color :rgb(255, 255, 255); 
}

#ctl00_webSitesContainerCell {
 display:none; 
}

#thirdTab {
 display:none; 
}

#ctl00_fileSharesContainerCell {
 display:none; 
}

